<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="description" content="Yxscalc : Simple tool calculate data.">

  <script src="3rd/lodash.min.js"></script>
  <script src="3rd/jquery-1.11.2.min.js"></script>
  <script src="3rd/vue.js"></script>
  <link rel="stylesheet" href="3rd/bootstrap-3.3.2-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="3rd/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
  <!--<script src="3rd/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    -->
</head>

<body>

  <div id="table_order">
    <div class="container-fluid">
      <div class="row">
        <div class="row form-inline">
          <div class="form-group col-xs-2">
            <label for="page_input">{{ res.page }}</label>
            <button type="button" class="btn btn-info btn-xs" @click="before"><</button>
            <input type="text" class="form-control" id="page_input" placeholder="{{ res.page }}" style="width:60px" v-model="page">
            <button type="button" class="btn btn-info btn-xs" @click="after">></button>
          </div>
          <div class="form-group col-xs-2">
            <label for="pagesize_input">{{ res.page_size }}</label>
            <input type="text" class="form-control" id="pagesize_input" placeholder="{{ res.page_size }}" style="width:60px" v-model="page_size">
          </div>
          <div class="form-group col-xs-2">
            <input type="text" class="form-control" placeholder="{{ res.search }}" v-model="keyword" debounce="300">
          </div>
          <div class="form-group col-xs-2">
            <label for="pagesize_input">{{ res.rows_count }}</label>
            <span>: {{rows_count}}</span>
          </div>
          <div class="form-group col-xs-4">
            <label for="pagesize_input">{{ res.datafile }}</label>
            <input type="file" class="form-control" placeholder="{{ res.datafile }}" @change="filechange" style=“widht:90px”>
            <button type="button" class="btn btn-info btn-xs" @click="queryorder">{{res.queryorder}}</button>
          </div>
        </div>
      </div>

    </div>
    <table class="table table-condensed table-striped table-bordered table-hover">
      <tr>
        <td>{{allselect}}<input type="checkbox" v-model="allselect" @click="changeselect" :disabled="canallselect"}} />{{res.allselect}}</td>
        <th v-for="key in keys">
          {{key.name}}
        </th>
      </tr>
      <template v-for="(index,row) in rows_show" track-by="$index">
        <tr id="row_{{index}}">
          <td><input type="checkbox" v-model="row.value.select" :disabled="row.canselect"}} /></td>
          <td v-for="(index,value) in row.value" track-by="$index">{{index}}:{{value}}</td>
        </tr>
        <tr id="row_{{index}}">
          <td>
          <table class="table table-condensed table-striped table-bordered table-hover">
            <tr v-for="(index,value) in row.edit" track-by="$index">
              <td>{{keys[index].name}}</td>
              <td><input v-model="value" :disabled="!row.writeable[index]" :style='{"border-color": row.valid[index]?"transparent":"red" }' /></td>
            </tr>
          </table>
          </td>
        </tr>
      </template>

    </table>

  </div>

  <script src="dev/myvue.js">

</script>

</body>

</html>